.game-board {
    width: 500px;
    height: 500px;
}

.game-title {
    font-size: 7em;
}

.game-alert {
    font-size: 3em;
}

.game-restart {
    font-size: 2em;
}

.game-restart span {
    background-color: #fff;
    padding: 10px 16px;
}

.game-restart span:hover {
    color: #fff;
    background-color: #CC324D;
    padding: 10px 16px;
    cursor: pointer;
}

.square {
    width: 160px;
    height: 160px;
    float: left;
    background-color: #fff;
    text-align: center;
    line-height: 160px;
    font-size: 10em;
}

.sq-available {
    visibility: hidden;
    cursor: pointer;
    cursor: hand;
}

.sq-unavailable {
    cursor: pointer;
    cursor: hand;
}

.sq-winner {
    color: #CC324D;
}

.hidden {
    display: none;
    cursor: auto;
}

.square:hover>.sq-available {
    height: 100%;
    visibility: visible;
}

.sq-0 {
    margin: 0 5px 5px 0;
}

.sq-1 {
    margin: 0 5px 5px 5px;
}

.sq-2 {
    margin: 0 0 5px 5px;
}

.sq-3 {
    margin: 5px 5px 5px 0;
}

.sq-4 {
    margin: 5px;
}

.sq-5 {
    margin: 5px 0 5px 5px;
}

.sq-6 {
    margin: 5px 5px 0 0;
}

.sq-7 {
    margin: 5px 5px 0 5px;
}

.sq-8 {
    margin: 5px 0 0 5px;
}